{% extends 'master.html' %}
{% block embed %}

<div class="container">
    <div style="display: flex; align-items: center; flex-direction: column;">
        <div class="row" style="width: 100%;">
            <div class="col-sm-7 col-xs-12">
                <h2>Bitcoin Fee Estimation</h2>
            </div>
            <div class="col-sm-5 col-sm-offset-0 bold col-xs-8 col-xs-offset-4">
                <form>
                    <label style="font-family: 'Proxima-Nova-Regular'";>to confirm within:</label>
                    <select class="form-control" id="selectBlocks" onChange="render();">
                        {% for item in estimates %}
                        <option value="{{ [item.n , item.amount] }}" {% if item.n == 6 %}selected="selected"{% endif %}>≤ {{ item.n }} blocks ( ~{{ item.n * 10 }} min)</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    <div class=" col-xs-10 jumbotron">
        <div class="row" style="border-bottom: 1px solid #bbb; padding: 5px 0px;">
            <div class="col-xs-7" style="border-right: 1px solid #bbb;">
                To confirm within <span class="bold" id="xBlocks"></span> blocks ( ~<span class="bold" id="xMin"></span> min)
            </div>
            <div class="col-xs-5 bold">
                <span class="bold" id="xAmount"></span> satoshis/byte
            </div>
        </div>
        <div class="row" style="margin-top: 5px;">
            <div class="col-xs-7">
                For a standard transaction with
                <input id="xInputs" type="text" value="2" size="2" oninput="render();">
                inputs
            </div>
            <div class="col-xs-5 bold">
                ~<span class="bold" id="xBytes"></span> bytes
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7">
                and
                <input id="xOutputs" type="text" value="2" size="2" oninput="render();">
                outputs
            </div>
            <div class="col-xs-5 bold">
                ~<span class="bold" id="xSatoshis"></span> satoshis
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7">

            </div>
            <div class="col-xs-5 bold">
                ~<span class="bold" id="xUsd"></span> USD
            </div>
        </div>
    </div>
    </div>

    {# Locate Transaction #}
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-sm-6 col-xs-12 text-center">
            <form id="searchForm">
                <span class="bold">Locate Transaction: </span> <input type="text" id="txlocator" /> <button type="submit">Search!</button>
            </form>

        </div>
        <div class="col-sm-6 col-xs-12 text-center">
            <div id="search-error" style="color:red;" class="bold"></div>
        </div>
    </div>

    {# Chart #}
    <div id="chart" style="height: 400px"></div>

    <input type="hidden" id="btcToUsd" value="{{ btcToUsd }}">
</div>


{# Learn #}
<div class="container" id="learn">
    <div class="row">
        <h1>Learn about bitcoin fees...</h1>
    </div>

    <p>
        Bitcoin is made up of <strong>blocks</strong>. <strong>Blocks</strong> are a set of transactions, and currently restricted to be less than or equal to 1,000,000
        bytes and designed so that on average only 1 block per ~10 minutes can be created. The groups the create blocks are
        known as bitcoin <strong>miners</strong>. These <strong>miners</strong> can pick which ever transactions they want in the block
        they create.
    </p>
    <p>
        Bitcoin miners get paid all the transaction fees in the block they mine. So as such, it is in their interests to
        maximize the amount of money they make when they create a block. So what they do is pick the 1,000,000 bytes of transactions
        that results them getting paid the most money.
    </p>
    <p>
        From a bitcoin miner perspective, they don't care of the <em>value</em> of a transaction, but just the size (amount of bytes), because they
        are only allowed to create blocks of 1,000,000 bytes or less. So miners don't consider the absolute fee a transaction has, but rather,
        the <strong>fee per byte</strong>.
    </p>

    <div class="row">
        <h1>Why are the fee estimations so high?</h1>
    </div>
    <p>
        Eye-balling it, sometimes it looks like the fee estimates are super high. The reason that is, is because they use
        95% confidence. If a block was found <strong>now</strong> maybe you'd only need 20 satoshi/byte, but it might be
        an hour before the next block and in the subsequent time a large amount of new transactions come in.
    </p>

    <p>
        Sometimes you don't need such high confidence (e.g. it's not important, or you have a way of fee bumping), so you
        can get away with much lower fees.
    </p>

    <div class="row">
        <h1>Why are fees so damn high?</h1>
    </div>
    <p>
        Politics. There's actually a <b><a href="https://bitcoincore.org/en/2016/01/26/segwit-benefits/">pretty neat solution</a></b> that offers
        some minor, but immediate relief. But at this stage looks like it's being held hostage to some political agenda that I'm not privy to.
    </p>

    <div class="row">
        <h1>Why do some low-fee paying transactions appear early in the mempool?</h1>
    </div>
    <p>
        It's because a high-fee paying transaction depends on it, and reprioritizes it. i.e. the only way for the miner to
        get the money from the "good" transaction, is include a "bad" one first. It's known as Child-Pays-For-Parent (CPFP), but note
        that some old versions of bitcoin core, and bitcoin unlimited don't support it (and leave those transactions for smarter miner software).
    </p>

    <div class="row">
        <h1>Do you have historical data?</h1>
    </div>
    <p>
        Nope. But I <a href="https://bitcoinfees.github.io/#30m">https://bitcoinfees.github.io/</a> does
    </p>

    <div class="row">
        <h1>How did you build this?</h1>
    </div>
    <p>
        The fee estimates are simply generated by calling calling <code>estimatesmartfee $n</code> on bitcoin core (0.16.0). The
        chart is generated by dumping the mempool and doing some <strong><a href="https://gist.github.com/RHavar/a2fe192e46a519965b01879eeade9874">smart sorting</a></strong>.
    </p>
</div>


{# API #}
<div class="container" id="api">
    <div class="row">
        <h1>API</h1>
    </div>
    You can use <code>https://estimatefee.com/n/$CONFS</code> where $CONFS can anything from 2 to 1008. We directly proxy the results
    from bitcoin core using `estimatesmartfee` (with a 30 second cache), so the value is in bitcoin per 1000 bytes. If you're using this, make sure to put a fallback. If it
    works, it'll be accurate. But don't expect five 9s of reliability -- because, really, I really only made the API to look cool.
    <br>
    <br>
    <br>
</div>

{% endblock %}

{% block scripts %}
        <script>
					function getSelected() {
						var e = document.getElementById('selectBlocks');
						var selection = e.options[e.selectedIndex].value;
						return selection.split(',');
					}

					function getInputs() {
                      var n = parseInt(document.getElementById('xInputs').value);
                      if (n < 1) return NaN;
                      return n;
                    }

                    function getOutputs() {
                      var n = parseInt(document.getElementById('xOutputs').value);
                      if (n < 1) return NaN;
                      return n;
                    }

                    function render() {
                        var s = getSelected();
                        var n = parseFloat(s[0]);
                        var amount = parseFloat(s[1]);
                        var inputs = getInputs();
                        var outputs = getOutputs();
                        var bytes = ( 148 * inputs ) + 10 + ( 34 * outputs );
                        var satoshis = amount * bytes;
                        var btcToUsd = parseFloat(document.getElementById('btcToUsd').value);
                        var usd = (satoshis / 1e8 * btcToUsd).toFixed(2);

                        document.getElementById("xBlocks").innerText = n;
                        document.getElementById("xAmount").innerText = amount;
                        document.getElementById("xMin").innerText = n * 10;
                        document.getElementById("xBytes").innerText = bytes;
                        document.getElementById("xSatoshis").innerText = satoshis;
                        document.getElementById("xUsd").innerText = usd;

                        if (typeof showRecommend !== 'undefined') {
                          showRecommend(n, amount);
                        }
                    }
                    render();
        </script>
    <script src="/getrawmempool"></script>
    <script type="text/javascript" src="/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="/chart.js"></script>
    <script>
        render(); // for the recommendation line
    </script>

{% endblock %}
