{% extends 'master.html' %}
{% block embed %}


<div class="container">
    <div class="row">
        <h1>Learn about bitcoin fees...</h1>
    </div>


    <p>
        Bitcoin is made up of <strong>blocks</strong>. <strong>Blocks</strong> are a set of transactions, and currently restricted to be less than or equal to 1,000,000
        bytes and designed so that on average only 1 block per ~10 minutes can be created. The groups the create blocks are
        known as bitcoin <strong>miners</strong>. These <strong>miners</strong> can pick which ever transactions they want in the block
        they create.
    </p>
    <p>
        Bitcoin miners get paid all the transaction fees in the block they mine. So as such, it is in their interests to
        maximize the amount of money they make when they create a block. So what they do is pick the 1,000,000 bytes of transactions
        that results them getting paid the most money.
    </p>
    <p>
        From a bitcoin miner perspective, they don't care of the <em>value</em> of a transaction, but just the size (amount of bytes), because they
        are only allowed to create blocks of 1,000,000 bytes or less. So miners don't consider the absolute fee a transaction has, but rather,
        the <strong>fee per byte</strong>.
    </p>

    <div class="row">
        <h1>Why are the fee estimations so high?</h1>
    </div>
    <p>
        Eye-balling it, sometimes it looks like the fee estimates are super high. The reason that is, is because they use
        95% confidence. If a block was found <strong>now</strong> maybe you'd only need 20 satoshi/byte, but it might be
        an hour before the next block and in the subsequent time a large amount of new transactions come in.
    </p>

    <p>
        Sometimes you don't need such high confidence (e.g. it's not important, or you have a way of fee bumping), so you
        can get away with much lower fees.
    </p>

    <div class="row">
        <h1>Why are fees so damn high?</h1>
    </div>
    <p>
        Politics. There's actually a <b><a href="https://bitcoincore.org/en/2016/01/26/segwit-benefits/">pretty neat solution</a></b> that offers
        some minor, but immediate relief. But at this stage looks like it's being held hostage to some political agenda that I'm not privy to.
    </p>

    <div class="row">
        <h1>Why do some low-fee paying transactions appear early in the mempool?</h1>
    </div>
    <p>
        It's because a high-fee paying transaction depends on it, and reprioritizes it. i.e. the only way for the miner to
        get the money from the "good" transaction, is include a "bad" one first. It's known as Child-Pays-For-Parent (CPFP), but note
        that some old versions of bitcoin core, and bitcoin unlimited don't support it (and leave those transactions for smarter miner software).
    </p>

    <div class="row">
        <h1>Do you have historical data?</h1>
    </div>
    <p>
        Nope. But I <a href="https://bitcoinfees.github.io/#30m">https://bitcoinfees.github.io/</a> does
    </p>

    <div class="row">
        <h1>How did you build this?</h1>
    </div>
    <p>
        The fee estimates are simply generated by calling calling <code>estimatesmartfee $n</code> on bitcoin core (0.14.99). The
        chart is generated by dumping the mempool and doing some <strong><a href="https://gist.github.com/RHavar/a2fe192e46a519965b01879eeade9874">smart sorting</a></strong>.
    </p>




</div>

{% endblock %}

{% block scripts %}{% endblock %}